### Start Date: 1/11/2023

### Goal: Get Familiar with Pandas once again

#### Credit for follow along belongs to Keith Galli YouTube. Video found here: https://www.youtube.com/watch?v=vmEHCJofslg

### Importing Data

In [1]:
import numpy as np
import pandas as pd
import re
import copy

In [2]:
df = pd.read_csv("./pokemon_data.csv")

In [3]:
# practice reading in .xlsx data

# df_xlsx = pd.read_excel("./pokemon_data.xlsx")
# df_xlsx.head()

In [4]:
# practice reading in .txt data

# df_txt = pd.read_csv("./pokemon_data.txt", delimiter = "\t")
# df_txt.head()

In [5]:
df.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

### Reading in Data

In [6]:
df.columns # find name of column headers

Index(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

### Different Ways to Index Columns

In [7]:
df["Name"]

0                  Bulbasaur
1                    Ivysaur
2                   Venusaur
3      VenusaurMega Venusaur
4                 Charmander
               ...
795                  Diancie
796      DiancieMega Diancie
797      HoopaHoopa Confined
798       HoopaHoopa Unbound
799                Volcanion
Name: Name, Length: 800, dtype: object

In [8]:
df.Name

0                  Bulbasaur
1                    Ivysaur
2                   Venusaur
3      VenusaurMega Venusaur
4                 Charmander
               ...
795                  Diancie
796      DiancieMega Diancie
797      HoopaHoopa Confined
798       HoopaHoopa Unbound
799                Volcanion
Name: Name, Length: 800, dtype: object

In [9]:
# selects rows and columns with specific labels 
df.loc[:, "Name"]

0                  Bulbasaur
1                    Ivysaur
2                   Venusaur
3      VenusaurMega Venusaur
4                 Charmander
               ...
795                  Diancie
796      DiancieMega Diancie
797      HoopaHoopa Confined
798       HoopaHoopa Unbound
799                Volcanion
Name: Name, Length: 800, dtype: object

In [10]:
# selects rows and columns with integer positions
df.iloc[:, 1]

0                  Bulbasaur
1                    Ivysaur
2                   Venusaur
3      VenusaurMega Venusaur
4                 Charmander
               ...
795                  Diancie
796      DiancieMega Diancie
797      HoopaHoopa Confined
798       HoopaHoopa Unbound
799                Volcanion
Name: Name, Length: 800, dtype: object

### Index multiple columns

In [11]:
df[["HP", "Attack", "Defense"]]

     HP  Attack  Defense
0    45      49       49
1    60      62       63
2    80      82       83
3    80     100      123
4    39      52       43
..   ..     ...      ...
795  50     100      150
796  50     160      110
797  80     110       60
798  80     160       60
799  80     110      120

[800 rows x 3 columns]

In [12]:
df.iloc[:, 4:7]

     HP  Attack  Defense
0    45      49       49
1    60      62       63
2    80      82       83
3    80     100      123
4    39      52       43
..   ..     ...      ...
795  50     100      150
796  50     160      110
797  80     110       60
798  80     160       60
799  80     110      120

[800 rows x 3 columns]

### Index Rows

In [13]:
# also can choose 
# df.iloc[0]
# df.iloc[0,]
df.iloc[0,:]

#                     1
Name          Bulbasaur
Type 1            Grass
Type 2           Poison
HP                   45
Attack               49
Defense              49
Sp. Atk              65
Sp. Def              65
Speed                45
Generation            1
Legendary         False
Name: 0, dtype: object

In [14]:
# critical thinking: what is the difference between these two? hint: its in its shape and how [[]] works
df.iloc[[0]]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False

In [15]:
df.iloc[0]

#                     1
Name          Bulbasaur
Type 1            Grass
Type 2           Poison
HP                   45
Attack               49
Defense              49
Sp. Atk              65
Sp. Def              65
Speed                45
Generation            1
Legendary         False
Name: 0, dtype: object

### Index Cells

In [16]:
df.iloc[2,1]

'Venusaur'

In [17]:
# spits out each row separately
# commenting out for readability
# for index, row in df.iterrows():
    # print(index, row)

In [18]:
# above cell more useful when you combine it with a specific row
# commending out for readability
# for index, row in df.iterrows():
    # print(index, row[1])
    
# or you can do
# for index, row in df.iterrows():
#    print(index, row["Name"])

### Index rows with a specific boolean statement

In [19]:
df[df["Type 1"] == "Grass"]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
48,43,Oddish,Grass,Poison,45,50,55,75,65,30,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
718,650,Chespin,Grass,NaN,56,61,65,48,45,38,6,False
719,651,Quilladin,Grass,NaN,61,78,95,56,58,57,6,False
720,652,Chesnaught,Grass,Fighting,88,107,122,74,75,64,6,False
740,672,Skiddo,Grass,NaN,66,65,48,62,57,52,6,False
741,673,Gogoat,Grass,NaN,123,100,62,97,81,68,6,False

In [20]:
df.loc[df["Type 1"] == "Grass"]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
48,43,Oddish,Grass,Poison,45,50,55,75,65,30,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
718,650,Chespin,Grass,NaN,56,61,65,48,45,38,6,False
719,651,Quilladin,Grass,NaN,61,78,95,56,58,57,6,False
720,652,Chesnaught,Grass,Fighting,88,107,122,74,75,64,6,False
740,672,Skiddo,Grass,NaN,66,65,48,62,57,52,6,False
741,673,Gogoat,Grass,NaN,123,100,62,97,81,68,6,False

In [21]:
df[df.iloc[:, 2] == "Grass"]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
48,43,Oddish,Grass,Poison,45,50,55,75,65,30,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
718,650,Chespin,Grass,NaN,56,61,65,48,45,38,6,False
719,651,Quilladin,Grass,NaN,61,78,95,56,58,57,6,False
720,652,Chesnaught,Grass,Fighting,88,107,122,74,75,64,6,False
740,672,Skiddo,Grass,NaN,66,65,48,62,57,52,6,False
741,673,Gogoat,Grass,NaN,123,100,62,97,81,68,6,False

### Sorting/Describing Data

In [22]:
df.describe()

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

In [23]:
df.sort_values("Name")

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
510,460,Abomasnow,Grass,Ice,90,92,75,92,85,60,4,False
511,460,AbomasnowMega Abomasnow,Grass,Ice,90,132,105,132,105,30,4,False
68,63,Abra,Psychic,NaN,25,20,15,105,55,90,1,False
392,359,Absol,Dark,NaN,65,130,60,75,60,75,3,False
393,359,AbsolMega Absol,Dark,NaN,65,150,60,115,60,115,3,False
...,...,...,...,...,...,...,...,...,...,...,...,...
632,571,Zoroark,Dark,NaN,60,105,60,120,60,105,5,False
631,570,Zorua,Dark,NaN,40,65,40,80,40,65,5,False
46,41,Zubat,Poison,Flying,40,45,35,30,40,55,1,False
695,634,Zweilous,Dark,Dragon,72,85,70,65,70,58,5,False
794,718,Zygarde50% Forme,Dragon,Ground,108,100,121,81,95,95,6,True

In [24]:
df.sort_values("Name", ascending = False)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
794,718,Zygarde50% Forme,Dragon,Ground,108,100,121,81,95,95,6,True
695,634,Zweilous,Dark,Dragon,72,85,70,65,70,58,5,False
46,41,Zubat,Poison,Flying,40,45,35,30,40,55,1,False
631,570,Zorua,Dark,NaN,40,65,40,80,40,65,5,False
632,571,Zoroark,Dark,NaN,60,105,60,120,60,105,5,False
...,...,...,...,...,...,...,...,...,...,...,...,...
393,359,AbsolMega Absol,Dark,NaN,65,150,60,115,60,115,3,False
392,359,Absol,Dark,NaN,65,130,60,75,60,75,3,False
68,63,Abra,Psychic,NaN,25,20,15,105,55,90,1,False
511,460,AbomasnowMega Abomasnow,Grass,Ice,90,132,105,132,105,30,4,False
510,460,Abomasnow,Grass,Ice,90,92,75,92,85,60,4,False

#### Sort by multiple columns

In [25]:
df.sort_values(["Type 1", "HP"])

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
316,292,Shedinja,Bug,Ghost,1,90,45,30,30,40,3,False
230,213,Shuckle,Bug,Rock,20,10,230,10,230,5,2,False
462,415,Combee,Bug,Flying,30,30,42,30,42,70,4,False
603,543,Venipede,Bug,Poison,30,45,59,30,39,57,5,False
314,290,Nincada,Bug,Ground,31,45,90,30,30,40,3,False
...,...,...,...,...,...,...,...,...,...,...,...,...
142,131,Lapras,Water,Ice,130,85,80,85,95,60,1,False
145,134,Vaporeon,Water,NaN,130,65,60,110,95,65,1,False
350,320,Wailmer,Water,NaN,130,70,35,70,35,60,3,False
655,594,Alomomola,Water,NaN,165,75,80,40,45,65,5,False
351,321,Wailord,Water,NaN,170,90,45,90,45,60,3,False

In [26]:
df.sort_values(["Type 1", "HP"], ascending = [True, False])

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
520,469,Yanmega,Bug,Flying,86,76,86,116,56,95,4,False
698,637,Volcarona,Bug,Fire,85,60,65,135,105,100,5,False
231,214,Heracross,Bug,Fighting,80,125,75,40,95,85,2,False
232,214,HeracrossMega Heracross,Bug,Fighting,80,185,115,40,105,75,2,False
678,617,Accelgor,Bug,NaN,80,70,40,100,60,145,5,False
...,...,...,...,...,...,...,...,...,...,...,...,...
106,98,Krabby,Water,NaN,30,105,90,25,25,50,1,False
125,116,Horsea,Water,NaN,30,40,70,70,25,60,1,False
129,120,Staryu,Water,NaN,30,45,55,70,55,85,1,False
139,129,Magikarp,Water,NaN,20,10,55,15,20,80,1,False
381,349,Feebas,Water,NaN,20,15,20,10,55,80,3,False

### Making changes to the Data Frame

In [27]:
df.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

#### Add a BST (base stat total) column

In [28]:
# long way DONT DO THIS
df["BST"] = df["HP"] + df["Attack"] + df["Defense"] + df["Sp. Atk"] + df["Sp. Def"] + df["Speed"]

In [29]:
df.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,BST
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309

In [30]:
# drop column
df = df.drop(columns = "BST")
df.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [31]:
# way better way using .iloc
df["BST"] = df.iloc[:, 4:10].sum(axis = 1)

In [32]:
df.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,BST
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309

#### Change ordering of columns

In [33]:
# list(df.columns.values) also works
cols = list(df.columns)
cols

['#',
 'Name',
 'Type 1',
 'Type 2',
 'HP',
 'Attack',
 'Defense',
 'Sp. Atk',
 'Sp. Def',
 'Speed',
 'Generation',
 'Legendary',
 'BST']

In [34]:
df = df[cols[0:10] + [cols[-1]] + cols[10:12]]
df.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,BST,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,318,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,405,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,525,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,625,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,309,1,False

### Exporting Data

In [35]:
df.to_csv("modified_pokemon_data.csv", index = False)
df.to_csv("modified_pokemon_data.txt" , index = False, sep = "\t")
df.to_excel("modified_pokemon_data.xlsx", index = False)

### Filtering Data

#### Filter data by their types

In [36]:
df.loc[(df["Type 1"] == "Grass") & (df["Type 2"] == "Poison") & (df["HP"] > 70)]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,BST,Generation,Legendary
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,525,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,625,1,False
50,45,Vileplume,Grass,Poison,75,80,85,110,90,50,490,1,False
77,71,Victreebel,Grass,Poison,80,105,65,100,70,70,490,1,False
652,591,Amoonguss,Grass,Poison,114,85,70,85,80,30,464,5,False

In [37]:
grass_poison_df = df.loc[(df["Type 1"] == "Grass") & (df["Type 2"] == "Poison") & (df["HP"] > 70)]
grass_poison_df.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,BST,Generation,Legendary
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,525,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,625,1,False
50,45,Vileplume,Grass,Poison,75,80,85,110,90,50,490,1,False
77,71,Victreebel,Grass,Poison,80,105,65,100,70,70,490,1,False
652,591,Amoonguss,Grass,Poison,114,85,70,85,80,30,464,5,False

In [38]:
# notice that the index number stayed the same; change it by using reset_index function
grass_poison_df.reset_index()

,index,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,BST,Generation,Legendary
0,2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,525,1,False
1,3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,625,1,False
2,50,45,Vileplume,Grass,Poison,75,80,85,110,90,50,490,1,False
3,77,71,Victreebel,Grass,Poison,80,105,65,100,70,70,490,1,False
4,652,591,Amoonguss,Grass,Poison,114,85,70,85,80,30,464,5,False

In [39]:
# reset_index saves old index, to remove that, just set drop parameter = True
grass_poison_df.reset_index(drop = True)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,BST,Generation,Legendary
0,3,Venusaur,Grass,Poison,80,82,83,100,100,80,525,1,False
1,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,625,1,False
2,45,Vileplume,Grass,Poison,75,80,85,110,90,50,490,1,False
3,71,Victreebel,Grass,Poison,80,105,65,100,70,70,490,1,False
4,591,Amoonguss,Grass,Poison,114,85,70,85,80,30,464,5,False

In [40]:
grass_poison_df.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,BST,Generation,Legendary
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,525,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,625,1,False
50,45,Vileplume,Grass,Poison,75,80,85,110,90,50,490,1,False
77,71,Victreebel,Grass,Poison,80,105,65,100,70,70,490,1,False
652,591,Amoonguss,Grass,Poison,114,85,70,85,80,30,464,5,False

In [41]:
# we have not saved this resetting index; we can save this two ways: setting it equal to itself or using the inplace parameter
grass_poison_df.reset_index(drop = True, inplace = True)
grass_poison_df.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,BST,Generation,Legendary
0,3,Venusaur,Grass,Poison,80,82,83,100,100,80,525,1,False
1,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,625,1,False
2,45,Vileplume,Grass,Poison,75,80,85,110,90,50,490,1,False
3,71,Victreebel,Grass,Poison,80,105,65,100,70,70,490,1,False
4,591,Amoonguss,Grass,Poison,114,85,70,85,80,30,464,5,False

### Filter data by string

In [42]:
# find megas
df.loc[df["Name"].str.contains("Mega")]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,BST,Generation,Legendary
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,625,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,634,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,634,1,False
12,9,BlastoiseMega Blastoise,Water,NaN,79,103,120,135,115,78,630,1,False
19,15,BeedrillMega Beedrill,Bug,Poison,65,150,40,15,80,145,495,1,False
23,18,PidgeotMega Pidgeot,Normal,Flying,83,80,80,135,80,121,579,1,False
71,65,AlakazamMega Alakazam,Psychic,NaN,55,50,65,175,95,150,590,1,False
87,80,SlowbroMega Slowbro,Water,Psychic,95,75,180,130,80,30,590,1,False
102,94,GengarMega Gengar,Ghost,Poison,60,65,80,170,95,130,600,1,False
124,115,KangaskhanMega Kangaskhan,Normal,NaN,105,125,100,60,100,100,590,1,False
137,127,PinsirMega Pinsir,Bug,Flying,65,155,120,65,90,105,600,1,False
141,130,GyaradosMega Gyarados,Water,Dark,95,155,109,70,130,81,640,1,False
154,142,AerodactylMega Aerodactyl,Rock,Flying,80,135,85,70,95,150,615,1,False
163,150,MewtwoMega Mewtwo X,Psychic,Fighting,106,190,100,154,100,130,780,1,True
164,150,MewtwoMega Mewtwo Y,Psychic,NaN,106,150,70,194,120,140,780,1,True
168,154,Meganium,Grass,NaN,80,82,100,83,100,80,525,2,False
196,181,AmpharosMega Ampharos,Electric,Dragon,90,95,105,165,110,45,610,2,False
224,208,SteelixMega Steelix,Steel,Ground,75,125,230,55,95,30,610,2,False
229,212,ScizorMega Scizor,Bug,Steel,70,150,140,65,100,75,600,2,False
232,214,HeracrossMega Heracross,Bug,Fighting,80,185,115,40,105,75,600,2,False
248,229,HoundoomMega Houndoom,Dark,Fire,75,90,90,140,90,115,600,2,False
268,248,TyranitarMega Tyranitar,Rock,Dark,100,164,150,95,120,71,700,2,False
275,254,SceptileMega Sceptile,Grass,Dragon,70,110,75,145,85,145,630,3,False
279,257,BlazikenMega Blaziken,Fire,Fighting,80,160,80,130,80,100,630,3,False
283,260,SwampertMega Swampert,Water,Ground,100,150,110,95,110,70,635,3,False
306,282,GardevoirMega Gardevoir,Psychic,Fairy,68,85,65,165,135,100,618,3,False
327,302,SableyeMega Sableye,Dark,Ghost,50,85,125,85,115,20,480,3,False
329,303,MawileMega Mawile,Steel,Fairy,50,105,125,55,95,50,480,3,False
333,306,AggronMega Aggron,Steel,NaN,70,140,230,60,80,50,630,3,False
336,308,MedichamMega Medicham,Fighting,Psychic,60,100,85,80,85,100,510,3,False
339,310,ManectricMega Manectric,Electric,NaN,70,75,80,135,80,135,575,3,False
349,319,SharpedoMega Sharpedo,Water,Dark,70,140,70,110,65,105,560,3,False
354,323,CameruptMega Camerupt,Fire,Ground,70,120,100,145,105,20,560,3,False
366,334,AltariaMega Altaria,Dragon,Fairy,75,110,110,110,105,80,590,3,False
387,354,BanetteMega Banette,Ghost,NaN,64,165,75,93,83,75,555,3,False
393,359,AbsolMega Absol,Dark,NaN,65,150,60,115,60,115,565,3,False
397,362,GlalieMega Glalie,Ice,NaN,80,120,80,120,80,100,580,3,False
409,373,SalamenceMega Salamence,Dragon,Flying,95,145,130,120,90,120,700,3,False
413,376,MetagrossMega Metagross,Steel,Psychic,80,145,150,105,110,110,700,3,False
418,380,LatiasMega Latias,Dragon,Psychic,80,100,120,140,150,110,700,3,True
420,381,LatiosMega Latios,Dragon,Psychic,80,130,100,160,120,110,700,3,True
426,384,RayquazaMega Rayquaza,Dragon,Flying,105,180,100,180,100,115,780,3,True
476,428,LopunnyMega Lopunny,Normal,Fighting,65,136,94,54,96,135,580,4,False
494,445,GarchompMega Garchomp,Dragon,Ground,108,170,115,120,95,92,700,4,False
498,448,LucarioMega Lucario,Fighting,Steel,70,145,88,140,70,112,625,4,False
511,460,AbomasnowMega Abomasnow,Grass,Ice,90,132,105,132,105,30,594,4,False
527,475,GalladeMega Gallade,Psychic,Fighting,68,165,95,65,115,110,618,4,False
591,531,AudinoMega Audino,Normal,Fairy,103,60,126,80,126,50,545,5,False
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,700,6,True

In [43]:
# find grass or poison types using str.contains()
# possible because we import re at top of page
df.loc[df["Type 1"].str.contains("fire|grass", flags = re.I)]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,BST,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,318,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,405,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,525,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,625,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,309,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
735,667,Litleo,Fire,Normal,62,50,58,73,54,72,369,6,False
736,668,Pyroar,Fire,Normal,86,68,72,109,66,106,507,6,False
740,672,Skiddo,Grass,NaN,66,65,48,62,57,52,350,6,False
741,673,Gogoat,Grass,NaN,123,100,62,97,81,68,531,6,False
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,600,6,True

In [44]:
# find pokemon names that begin with "pi"
df.loc[df["Name"].str.contains("^pi[a-z]*", flags = re.I)]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,BST,Generation,Legendary
20,16,Pidgey,Normal,Flying,40,45,40,35,35,56,251,1,False
21,17,Pidgeotto,Normal,Flying,63,60,55,50,50,71,349,1,False
22,18,Pidgeot,Normal,Flying,83,80,75,70,70,101,479,1,False
23,18,PidgeotMega Pidgeot,Normal,Flying,83,80,80,135,80,121,579,1,False
30,25,Pikachu,Electric,NaN,35,55,40,50,50,90,320,1,False
136,127,Pinsir,Bug,NaN,65,125,100,55,70,85,500,1,False
137,127,PinsirMega Pinsir,Bug,Flying,65,155,120,65,90,105,600,1,False
186,172,Pichu,Electric,NaN,20,40,15,35,35,60,205,2,False
219,204,Pineco,Bug,NaN,50,65,90,35,35,15,290,2,False
239,221,Piloswine,Ice,Ground,100,100,80,60,60,50,450,2,False
438,393,Piplup,Water,NaN,53,51,53,61,56,40,314,4,False
558,499,Pignite,Fire,Fighting,90,93,55,70,55,55,418,5,False
578,519,Pidove,Normal,Flying,50,55,50,36,30,43,264,5,False

### Conditional Changes

In [45]:
# create dummy df just so we can do these changes and not mess up the original
dummy_df = df
dummy_df.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,BST,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,318,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,405,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,525,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,625,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,309,1,False

In [46]:
# lets say i want to change "fire" into just an F
dummy_df.loc[dummy_df["Type 1"] == "Fire", "Type 1"] = "F"
dummy_df.head(10)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,BST,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,318,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,405,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,525,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,625,1,False
4,4,Charmander,F,NaN,39,52,43,60,50,65,309,1,False
5,5,Charmeleon,F,NaN,58,64,58,80,65,80,405,1,False
6,6,Charizard,F,Flying,78,84,78,109,85,100,534,1,False
7,6,CharizardMega Charizard X,F,Dragon,78,130,111,130,85,100,634,1,False
8,6,CharizardMega Charizard Y,F,Flying,78,104,78,159,115,100,634,1,False
9,7,Squirtle,Water,NaN,44,48,65,50,64,43,314,1,False

In [47]:
# lets say i want to make all pokemon with a BST of over 600 legendary
dummy_df.loc[dummy_df["BST"] > 600, "Legendary"] = True

In [48]:
dummy_df.loc[dummy_df["BST"] > 550].head(10)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,BST,Generation,Legendary
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,625,1,True
7,6,CharizardMega Charizard X,F,Dragon,78,130,111,130,85,100,634,1,True
8,6,CharizardMega Charizard Y,F,Flying,78,104,78,159,115,100,634,1,True
12,9,BlastoiseMega Blastoise,Water,NaN,79,103,120,135,115,78,630,1,True
23,18,PidgeotMega Pidgeot,Normal,Flying,83,80,80,135,80,121,579,1,False
64,59,Arcanine,F,NaN,90,110,80,100,80,95,555,1,False
71,65,AlakazamMega Alakazam,Psychic,NaN,55,50,65,175,95,150,590,1,False
87,80,SlowbroMega Slowbro,Water,Psychic,95,75,180,130,80,30,590,1,False
102,94,GengarMega Gengar,Ghost,Poison,60,65,80,170,95,130,600,1,False
124,115,KangaskhanMega Kangaskhan,Normal,NaN,105,125,100,60,100,100,590,1,False

In [49]:
# we can change multiple things; let's say im a genwunner
dummy_df.loc[dummy_df["Generation"] == 1, ["Generation", "Legendary"]] = ["BEST GEN", "OF COURSE ITS LEGENDARY STATUS"]
dummy_df.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,BST,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,318,BEST GEN,OF COURSE ITS LEGENDARY STATUS
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,405,BEST GEN,OF COURSE ITS LEGENDARY STATUS
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,525,BEST GEN,OF COURSE ITS LEGENDARY STATUS
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,625,BEST GEN,OF COURSE ITS LEGENDARY STATUS
4,4,Charmander,F,NaN,39,52,43,60,50,65,309,BEST GEN,OF COURSE ITS LEGENDARY STATUS

In [50]:
# critical thinking: we created a new object but its also changed our original one? why did that happen? and how do we fix? 
# hint: look at what a shallowcopy and deep copy is; remember: what is python doing with pointers and assignments?
df.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,BST,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,318,BEST GEN,OF COURSE ITS LEGENDARY STATUS
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,405,BEST GEN,OF COURSE ITS LEGENDARY STATUS
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,525,BEST GEN,OF COURSE ITS LEGENDARY STATUS
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,625,BEST GEN,OF COURSE ITS LEGENDARY STATUS
4,4,Charmander,F,NaN,39,52,43,60,50,65,309,BEST GEN,OF COURSE ITS LEGENDARY STATUS

In [51]:
df = pd.read_csv("modified_pokemon_data.csv")

In [52]:
df.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,BST,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,318,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,405,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,525,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,625,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,309,1,False

### Using groupby

In [53]:
df.groupby(["Type 1"]).mean()

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,BST,Generation,Legendary
Type 1,,,,,,,,,,
Bug,334.492754,56.884058,70.971014,70.724638,53.869565,64.797101,61.681159,378.927536,3.217391,0.000000
Dark,461.354839,66.806452,88.387097,70.225806,74.645161,69.516129,76.161290,445.741935,4.032258,0.064516
Dragon,474.375000,83.312500,112.125000,86.375000,96.843750,88.843750,83.031250,550.531250,3.875000,0.375000
Electric,363.500000,59.795455,69.090909,66.295455,90.022727,73.704545,84.500000,443.409091,3.272727,0.090909
Fairy,449.529412,74.117647,61.529412,65.705882,78.529412,84.705882,48.588235,413.176471,4.117647,0.058824
Fighting,363.851852,69.851852,96.777778,65.925926,53.111111,64.703704,66.074074,416.444444,3.370370,0.000000
Fire,327.403846,69.903846,84.769231,67.769231,88.980769,72.211538,74.442308,458.076923,3.211538,0.096154
Flying,677.750000,70.750000,78.750000,66.250000,94.250000,72.500000,102.500000,485.000000,5.500000,0.500000
Ghost,486.500000,64.437500,73.781250,81.187500,79.343750,76.468750,64.343750,439.562500,4.187500,0.062500
Grass,344.871429,67.271429,73.214286,70.800000,77.500000,70.428571,61.928571,421.142857,3.357143,0.042857
Ground,356.281250,73.781250,95.750000,84.843750,56.468750,62.750000,63.906250,437.500000,3.156250,0.125000
Ice,423.541667,72.000000,72.750000,71.416667,77.541667,76.291667,63.458333,433.458333,3.541667,0.083333
Normal,319.173469,77.275510,73.469388,59.846939,55.816327,63.724490,71.551020,401.683673,3.051020,0.020408
Poison,251.785714,67.250000,74.678571,68.821429,60.428571,64.392857,63.571429,399.142857,2.535714,0.000000
Psychic,380.807018,70.631579,71.456140,67.684211,98.403509,86.280702,81.491228,475.947368,3.385965,0.245614
Rock,392.727273,65.363636,92.863636,100.795455,63.340909,75.477273,55.909091,453.750000,3.454545,0.090909
Steel,442.851852,65.222222,92.703704,126.370370,67.518519,80.629630,55.259259,487.703704,3.851852,0.148148
Water,303.089286,72.062500,74.151786,72.946429,74.812500,70.517857,65.964286,430.455357,2.857143,0.035714

In [54]:
df.groupby(["Type 2"]).mean()

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,BST,Generation,Legendary
Type 2,,,,,,,,,,
Bug,382.000000,53.333333,90.000000,80.000000,46.666667,61.666667,61.666667,393.333333,3.333333,0.000000
Dark,413.850000,75.550000,109.800000,72.050000,81.800000,69.850000,75.350000,484.400000,3.750000,0.050000
Dragon,482.555556,82.166667,94.444444,87.055556,98.500000,83.444444,80.555556,526.166667,4.166667,0.222222
Electric,465.666667,88.166667,72.666667,68.333333,81.166667,73.500000,71.500000,455.333333,4.000000,0.166667
Fairy,379.043478,64.304348,61.608696,73.869565,75.000000,81.956522,61.217391,417.956522,3.565217,0.086957
Fighting,438.192308,79.461538,112.846154,82.500000,81.269231,82.384615,87.384615,525.846154,3.923077,0.153846
Fire,481.833333,71.250000,81.250000,80.166667,110.416667,83.500000,79.666667,506.250000,4.000000,0.250000
Flying,331.103093,71.391753,80.288660,68.309278,75.628866,71.206186,85.721649,452.546392,3.072165,0.134021
Ghost,551.714286,59.142857,84.142857,82.285714,73.214286,78.071429,53.857143,430.714286,4.785714,0.071429
Grass,505.400000,62.640000,74.160000,80.120000,60.160000,74.520000,57.320000,408.920000,4.480000,0.000000
Ground,307.600000,77.228571,89.857143,90.314286,65.542857,66.742857,54.657143,444.342857,2.942857,0.028571
Ice,441.285714,90.000000,98.000000,85.642857,92.642857,84.785714,74.642857,525.714286,3.714286,0.214286
Normal,681.000000,63.500000,52.750000,53.750000,88.000000,64.250000,89.250000,411.500000,6.000000,0.000000
Poison,169.970588,58.764706,67.588235,59.558824,74.029412,69.911765,66.647059,396.500000,1.970588,0.000000
Psychic,337.151515,72.212121,74.696970,87.030303,88.030303,87.606061,69.484848,479.060606,2.939394,0.151515
Rock,347.785714,68.071429,84.000000,126.857143,51.142857,68.571429,36.000000,434.642857,3.142857,0.000000
Steel,435.636364,64.636364,92.590909,104.636364,77.727273,86.272727,59.363636,485.227273,3.818182,0.045455
Water,400.000000,62.714286,70.142857,85.071429,74.500000,68.642857,57.142857,418.214286,3.428571,0.071429

## Mini-Project

In [55]:
# how do we find the mean of all types (so that their type1 or type2 doesnt matter??)
# one way to do it would be:
df[(df["Type 1"] == "Bug") | (df["Type 2"] == "Bug")].mean()

#             336.472222
HP             56.736111
Attack         71.763889
Defense        71.111111
Sp. Atk        53.569444
Sp. Def        64.666667
Speed          61.680556
BST           379.527778
Generation      3.222222
Legendary       0.000000
dtype: float64

In [56]:
# how do we generalize?
unique_types = df["Type 1"].unique()
unique_types

array(['Grass', 'Fire', 'Water', 'Bug', 'Normal', 'Poison', 'Electric',
       'Ground', 'Fairy', 'Fighting', 'Psychic', 'Rock', 'Ghost', 'Ice',
       'Dragon', 'Dark', 'Steel', 'Flying'], dtype=object)

In [57]:
# check if we can generalize with a for loop
# commenting out for readability

# for pokemon_type in unique_types:
    # print(pokemon_type)
    # print(df[(df["Type 1"] == pokemon_type) | (df["Type 2"] == pokemon_type)].mean())
    # print("\n")
    
print("Grass")
print(df[(df["Type 1"] == "Grass") | (df["Type 2"] == "Grass")].mean())
print("\n")

Grass
#             387.115789
HP             66.052632
Attack         73.463158
Defense        73.252632
Sp. Atk        72.936842
Sp. Def        71.505263
Speed          60.715789
BST           417.926316
Generation      3.652632
Legendary       0.031579
dtype: float64

In [58]:
# check correctedness
df[(df["Type 1"] == "Grass") | (df["Type 2"] == "Grass")].mean()

#             387.115789
HP             66.052632
Attack         73.463158
Defense        73.252632
Sp. Atk        72.936842
Sp. Def        71.505263
Speed          60.715789
BST           417.926316
Generation      3.652632
Legendary       0.031579
dtype: float64

In [59]:
# play with pd.concat
pd.concat([pd.DataFrame(df[(df["Type 1"] == "Grass") | (df["Type 2"] == "Grass")].mean()), 
           pd.DataFrame(df[(df["Type 1"] == "Fire") | (df["Type 2"] == "Fire")].mean())], axis = 1)

                     0           0
#           387.115789  356.359375
HP           66.052632   70.156250
Attack       73.463158   84.109375
Defense      73.252632   70.093750
Sp. Atk      72.936842   93.000000
Sp. Def      71.505263   74.328125
Speed        60.715789   75.421875
BST         417.926316  467.109375
Generation    3.652632    3.359375
Legendary     0.031579    0.125000

In [60]:
# initialize empty dataframe for to use pd.concat
df_types = pd.DataFrame()

In [61]:
for pokemon_type in unique_types:
    df_types = pd.concat([df_types, df[(df["Type 1"] == pokemon_type) | (df["Type 2"] == pokemon_type)].mean()], axis = 1)

In [62]:
df_types

,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
#,387.115789,356.359375,313.857143,336.472222,333.362745,206.919355,375.76,330.850746,409.000,400.320755,364.800000,381.879310,506.347826,430.078947,477.32,442.725490,439.612245,344.831683
HP,66.052632,70.156250,71.023810,56.736111,76.735294,62.596774,63.20,75.582090,68.475,74.566038,71.211111,66.017241,62.826087,78.631579,82.90,70.235294,64.959184,71.366337
Attack,73.463158,84.109375,73.706349,71.763889,72.656863,70.790323,69.52,92.671642,61.575,104.660377,72.644444,90.724138,76.934783,82.052632,105.76,96.784314,92.653061,80.227723
Defense,73.252632,70.093750,74.293651,71.111111,59.607843,63.741935,66.54,87.701493,70.400,74.056604,74.777778,107.086207,81.521739,76.657895,86.62,70.941176,116.612245,68.227723
Sp. Atk,72.936842,93.000000,74.777778,53.569444,57.078431,67.887097,88.96,61.208955,76.500,66.924528,94.600000,60.396552,77.478261,83.105263,97.44,77.450980,72.102041,76.366337
Sp. Def,71.505263,74.328125,70.309524,64.666667,63.745098,67.419355,73.68,64.835821,83.125,73.377358,86.766667,73.810345,76.956522,79.421053,86.90,69.647059,83.163265,71.257426
Speed,60.715789,75.421875,64.984127,61.680556,72.245098,65.258065,82.94,59.074627,55.850,76.528302,77.088889,51.103448,61.152174,67.578947,82.14,75.843137,57.102041,86.386139
BST,417.926316,467.109375,429.095238,379.527778,402.068627,397.693548,444.84,441.074627,415.925,470.113208,477.088889,449.137931,436.869565,467.447368,541.76,460.901961,486.591837,453.831683
Generation,3.652632,3.359375,2.920635,3.222222,3.166667,2.225806,3.36,3.044776,3.800,3.641509,3.222222,3.379310,4.369565,3.605263,3.98,3.921569,3.836735,3.168317
Legendary,0.031579,0.125000,0.039683,0.000000,0.019608,0.000000,0.10,0.074627,0.075,0.075472,0.211111,0.068966,0.065217,0.131579,0.32,0.058824,0.102041,0.148515

In [63]:
types_for_df = np.array([])
for pokemon_type in unique_types:
    types_for_df = np.append(types_for_df, pokemon_type)

In [64]:
types_for_df

array(['Grass', 'Fire', 'Water', 'Bug', 'Normal', 'Poison', 'Electric',
       'Ground', 'Fairy', 'Fighting', 'Psychic', 'Rock', 'Ghost', 'Ice',
       'Dragon', 'Dark', 'Steel', 'Flying'], dtype='<U32')

In [65]:
df_types.columns = types_for_df

In [66]:
df_types

,Grass,Fire,Water,Bug,Normal,Poison,Electric,Ground,Fairy,Fighting,Psychic,Rock,Ghost,Ice,Dragon,Dark,Steel,Flying
#,387.115789,356.359375,313.857143,336.472222,333.362745,206.919355,375.76,330.850746,409.000,400.320755,364.800000,381.879310,506.347826,430.078947,477.32,442.725490,439.612245,344.831683
HP,66.052632,70.156250,71.023810,56.736111,76.735294,62.596774,63.20,75.582090,68.475,74.566038,71.211111,66.017241,62.826087,78.631579,82.90,70.235294,64.959184,71.366337
Attack,73.463158,84.109375,73.706349,71.763889,72.656863,70.790323,69.52,92.671642,61.575,104.660377,72.644444,90.724138,76.934783,82.052632,105.76,96.784314,92.653061,80.227723
Defense,73.252632,70.093750,74.293651,71.111111,59.607843,63.741935,66.54,87.701493,70.400,74.056604,74.777778,107.086207,81.521739,76.657895,86.62,70.941176,116.612245,68.227723
Sp. Atk,72.936842,93.000000,74.777778,53.569444,57.078431,67.887097,88.96,61.208955,76.500,66.924528,94.600000,60.396552,77.478261,83.105263,97.44,77.450980,72.102041,76.366337
Sp. Def,71.505263,74.328125,70.309524,64.666667,63.745098,67.419355,73.68,64.835821,83.125,73.377358,86.766667,73.810345,76.956522,79.421053,86.90,69.647059,83.163265,71.257426
Speed,60.715789,75.421875,64.984127,61.680556,72.245098,65.258065,82.94,59.074627,55.850,76.528302,77.088889,51.103448,61.152174,67.578947,82.14,75.843137,57.102041,86.386139
BST,417.926316,467.109375,429.095238,379.527778,402.068627,397.693548,444.84,441.074627,415.925,470.113208,477.088889,449.137931,436.869565,467.447368,541.76,460.901961,486.591837,453.831683
Generation,3.652632,3.359375,2.920635,3.222222,3.166667,2.225806,3.36,3.044776,3.800,3.641509,3.222222,3.379310,4.369565,3.605263,3.98,3.921569,3.836735,3.168317
Legendary,0.031579,0.125000,0.039683,0.000000,0.019608,0.000000,0.10,0.074627,0.075,0.075472,0.211111,0.068966,0.065217,0.131579,0.32,0.058824,0.102041,0.148515